* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 23%);
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 13%);
}

#logo {
    color: lightblue;
    margin-top: 10px;
    margin-left: 20px;
}

#navbar {
    z-index: 100;
    transition: 0.6s;
    overflow: hidden;
    width: 100%;
}

#navbar > a {
    color: lightblue;
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    float: right;
}

#navbar > a:hover {
    color: red;
}


#header {
    height: 700px;
    text-align: center;
    top: 0;
    width: 100%;
}

#section1 {
    top: 0;
    min-height: 683px;
    background-color: black;
    text-align: center;
    width: 100%;
}

#section2 {
    height: 100vh;
    text-align: center;
    perspective: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;   
}

#section3 {
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

#section4 {
    height: 898px;
    background-image:
        linear-gradient(
            to top right, #8B5Cf6, #EC4899
        );
    text-align: center;
}

#footer {
    height: 600px;
    background-color: bisque;
}

#footer-title,
#copyright {
    position: relative;
}

#footer-title {
    display: inline-block;
    line-height: 100px;
    top: 20%;
    left: 25%;
}

#information {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#main-nav {
    display: inline-block;
    margin-top: 0px;
}

#contact {
    display: inline-block;
    margin-top: 0px;
    margin-left: 2%;
}

#copyright {
    left: auto;
    margin-top: 15%;
    display: block;
    text-align: center;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 100;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #navbar {
    padding-top: 60px;
  }

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

.text1,
.text2,
.text3,
.text4,
.text11 {
    position: relative;
    color: white;
}

.text1 {
    display: block;
    top: 30%;
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
}

.indication-with-text {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    max-width: 70%;
}

.text2 {
    display: inline-block;
    top: 60%;
    font-weight: 700;
    font-size: 100px;
    z-index: 1;
}

.down {
    position: relative;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #00567d;
    background: #04a9f5;
    box-shadow: 0 0 0 5px #fff, 0 5px 25px rgba(0,0,0,0.8);
    overflow: hidden;
}

.down:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.down .fa {
    font-size: 60px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    transform: translate(-50%,-50%);
    animation: animate 1.5s linear infinite;
    text-shadow: 0 2px 5px rgba(0,0,0,2);
}

@keyframes animate {
    0% {
        top: -10%;
    }

    40% {
        top: 60%;
    }

    60% {
        top: 30%;
    }

    80% {
        top: 60%;
    }

    100% {
        top: 110%;
    }
}


@media (max-width: 768px) {
    .down {
        margin-left: 0%;
        margin-top: 10%;
    }

    .text2 {
        margin-top: 40%;
    }
}

.text3 {
    top: 70px;
    font-weight: 600px;
    color: rgb(36, 204, 205);
    font-size: 19.2px;
}

.text4 {
    font-size: 56px;
    height: 112px;
    top: 100px;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.text5 {
    font-size: 40px;
    color: black;
    
}

.text6,
.text7,
.text8,
.text9,
.text10 {
    border: 1px solid black;
    width: 100%;
    border-right: none;
    text-align: center;
}

.text11 {
    font-family: 'Luckiest Guy', cursive;
    top: 70px;
    color: transparent;
    font-size: 90px;
    font-weight: bold;
    background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-clip: text;

}

.options {
    display: flex;
}

.text12,
.text13,
.text13,
.text14,
.text15,
.text16 {
    /* border: 1px solid black;
    width: 344px;
    text-align: center;
    margin-top: 120px;
    height: 610px;
    margin-left: 20px; */
}

.text12 {
    margin-left: 45px;
}

.text17 {
    font-size: 32px;
    font-weight: bold;
}

.text18 {
    font-size: 44.8px;
    font-weight: bold;
}

.navbar-nav,
.nav-title {

    list-style: none;
}

.nav-link {

    color: black;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    color: red;
    cursor: pointer;
}


.ig-image {
    position: relative;
    display: block;
}

@media (max-width: 768px) {
    #footer-title {
        display: relative;
        top: 20%;
        left: 20%;
    }
    
    #contact {
        margin-left: 10%;
    }

    #information {
        top: 25%;
        left: 0;
    }

    #copyright {
        margin-top: 30%;
    }
}